:root{
    --redish: rgb(56,31,37);
    --grey: rgb(17,16,16, 1);
    --grey_Op: rgba(56,31,37,0.8);
    --purple: rgb(197,15,249);
    --black: rgb(17,16,16, 9);
    --black09: rgb(17,16,16, 0.95);
    --crismon: #b31923;
    --white: #ACACAD;
    --description: #F5C331;
}
.app{
    height: 100vh;
}
main{
  
    height: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.section-container{
    width: 75%;
    background-color: var(--black);
    color: var(--white);
    display: grid;
    border: 1px solid black;
    border-radius: 1rem;
    align-items: center;
    padding: 40px 10px 10px 10px;
    position: relative;
    box-shadow: black 10px 10px 15px 5px;
    margin-top: 20px;
}
.section-title{
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}