.achievements-container{
    width: 75%;
    background-color: var(--black);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) ;
    border: 1px solid black;
    border-radius: 1rem;
    align-items: center;
    padding: 40px 10px 10px 10px;
    position: relative;
    box-shadow: black 10px 10px 15px 5px;
   
}

.achiv-category{
    
    color: var(--white);
    background-color: #b31923;
    font-size: 1rem;
    padding: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 0.7rem;
    display:flex;
    gap: 15px;
    cursor: pointer;
    min-height: 100px;
    box-shadow: black 10px 10px 15px 5px;
    transition: transform .2s;
}

.achiv-category:hover{
    transform: scale(1.2);
}
.achiv_name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.points{
    color: rgb(238,119,1);
}



.achiv_title{
    position: absolute;
    top: 7px;
    left: 43%;
    font-size: 1.5rem;
}
.achiv{
    color: var(--white);
    background-color: var(--black);
    font-size: 1rem;
    padding: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 0.7rem;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    box-shadow: #b31923 5px 5px 15px 5px;
}

@media only screen and (max-width: 1450px) {
    .achievements-container {
       

        width: 90%;
    }
  }