.section-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    padding: 6rem 1.5rem 2rem 3rem;
}
.collection-container{
    width: 160px;
    height: 200px;
    border-radius: 1rem;
    transition: transform .3s;
    box-shadow: black 10px 15px 15px 5px;
}
.collection-img{
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem 1rem 0 0;
    transition: transform .3s;

}

.collection-info{
    width:100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1rem 1rem;
    background-color: rgb(14, 13, 13);
}
.collection-container:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 40px 25px;
}


.pagination-container{
    width: 100%;
    position: absolute;
    top: 40px;
    
}
.pagination-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0;

}

.pagination-container ul li{
    display: inline;

}

.pagination-container ul li a{
    
    text-decoration: none;
    color: var(--white);
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color .3s;
    
}

.active{
    background-color: var(--crismon);
}


.change-collection-btn{
    width: 5rem;
    height: 2rem;
    gap: 10px;
    background-color: var(--crismon);
    color: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: black 5px 5px 8px 5px;
    transition: transform .3s;
    cursor: pointer;
}
.change-collection-btn:hover{
    transform: scale(1.2);

}
.section-title{
    display: flex;
    gap: 25px;
}