.dung_container{
    width: 75%;
    background-color: var(--black);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) ;
    border: 1px solid black;
    border-radius: 1rem;
    align-items: center;
    padding: 40px 10px 10px 10px;
    position: relative;
    box-shadow: black 10px 10px 15px 5px;
    margin-top: 20px;
    padding: 1.5rem;
}
.dungeon{
    
    color: var(--white);
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 5rem 1rem 1rem 1rem;
    border-radius: 0.7rem;
    display:flex;
    gap: 15px;
    cursor: pointer;
    height: 150px;
    box-shadow: black 10px 10px 15px 5px;
    transition: transform .3s;
}
.dung-name{
    font-size: 1.3rem;
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 0.7rem;
    padding: 15px;
    visibility: hidden;
    color: var(--white);
}

.dungeon:hover{
    transform: scale(1.2);

}
.dungeon:hover .dung-name{
    visibility: visible;
    background-color: rgb(17,16,16, .7);
}

.dung-header{
    position: absolute;
    top: 7px;
    left: 40%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.dung-title{

}
.dung-stats{
    padding: 50px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    
}
.dung-inside-name{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}



.affixes-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 3rem;
}
.affix{
    width: 50px;
    height: 50px;
    position: relative;
    box-shadow: black 7px 7px 12px 5px;
    border-radius: 10px;
    margin-top: 20px;
}
.affix-tooltip{
    width: 200px;
    block-size: fit-content;
    visibility: hidden;
    border: 1px solid red;
    background-color: var(--black);
    position: absolute;
    left: 65px;
    bottom: 0;
    z-index: 999;  
    padding: 10px;
    border: 2px solid black;
    border-radius: 1rem;
    
}
.affix-name{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 7px;
}
.affix-description{
    color: var(--description)
}
.affix:hover .affix-tooltip{
    visibility: visible;
}

@media only screen and (max-width: 1700px) {
    .dungeon{
        height: 130px;
    }
  }

@media only screen and (max-width: 1550px) {
    .dungeon{
        height: 120px;
    }
    .dung-name{
        font-size: 1rem;
    }
  }
@media only screen and (max-width: 1300px) {
    .dungeon{
        height: 100px;

    }

    .dung-header{
        left: 38%;
    }
}