.guild-container{
    height: 90vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    color: var(--white)
}
.container-style{
    background-color: var(--black);
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: black 10px 10px 15px 5px;
    padding: 1rem;
}

.guild-crest{
    width: 45%;
    height: 20vh;
    color: var(--white);
   
    display: flex;
}
.guild-roster{
    width: 70%;
    height: 70%;
   overflow-y: scroll;

}

.guild-fraction-icon{
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem;
    filter: drop-shadow(10px 10px 4px black)
}
.guild-name{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 4.5vmin;
}
.guild-server{
    font-size: 2vmin;
}
.guild-all-members{
    width:50%;
    display: grid;
    place-items: center;
    font-size: 3vmin;
}

.guild-members{
    height: 30px;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    place-items: center;
    margin: 1rem 0 1rem 0;
    text-align: center;
    
}
.guild-members:hover{
    background-color: black;
    cursor: pointer;
}

.guild-members-header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--white);
    padding-bottom: 15px;
}

.active-member{
    height: 150px;
    place-items: start legacy;
    background-color: black;
    padding-top: 10px;
}
.member-more-stats{
    visibility: hidden;
}
::-webkit-scrollbar{

    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--crismon); 
    border-radius: 10px;
  }