

.left-nav{
    max-width:300px;
    z-index: 2;
    
}
.player-name-left{
    background-color: var(--black) ;
    block-size: fit-content;
    width: 100%;
    color: var(--crismon);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    border-radius: 15px;
    z-index: 2;
    box-shadow: black 10px 10px 15px 5px;
}


.player-name-left span{
    margin: 0;
    font-size: 1.4rem;
}

.player-name-left .player-nickname{
    font-size: 3rem;
}
.ilvl{
    color: var(--white);
    font-size: 1rem;
}
.stats{
    background-color: var(--black);
    color: var(--white);
    text-align: left;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: black 10px 10px 15px 5px;
}
.stats-left{
    width:100%;
    padding: 2rem;
}

.stats-left .stats-text{
    margin: 7px;
}
.stats-text{
    font-size: 1.2rem;
    
}
.minor-stats-tooltip{
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 2rem;
    background-color: var(--black09);
    visibility: hidden;
    border-radius: 15px;
    z-index: 5;

}
.minor-stats > span:hover .minor-stats-tooltip{
    visibility: visible;
    
}
.minor-stats > span{
    cursor: pointer;
}
.minor-stats-tooltip p{
    margin: 5px;
    
}   
.minor-stats{
    position: relative;
}
.minor-stats span{
    margin: 7px;
}



.shrink-player-info{
    width: 75%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.shrink-container{
    background-color: var(--black);
    color: var(--white);
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: black 10px 10px 15px 5px;
    padding: 15px;
}
.shrink-player-name-container{
    width: 30%;
}
.shrink-player-stats{
    width: 70%;
}
.shrink-player-name{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.shrink-player-title{
   margin: 0;
   color: var(--crismon);
   font-size: 2vmin;
}
.shrink-player-nickname{
    font-size: 3vmin;
}
.shrink-player-spec{
    font-size: 2.2vmin;
    margin-bottom: 1rem;
}
.shrink-player-stats{
    display: flex;
    justify-content: space-around;
}
.shrink-player-stats hr{
    margin: 0;
}
.health-rage{
    width: 20%;
    display: grid;
    place-items: center;
    font-size: 1.2rem;
}
.rage{
    display: flex;
    flex-direction: column;
    font-size: 1.8vmin;
}
.health{
    color: var(--crismon);
    font-size: 3vmin;
}
.shrink-player-info{
    display: none;
}
@media only screen and (max-width: 1450px) {
    .left-nav{
        display: none;
    }
    .shrink-player-info{
        display: flex;
    }
    .shrink-player-info .health{
        font-size: 1.5rem;
    }
 }