.item{
    border: 1px solid black;
    height: 56px;
    width: 56px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 6px;
}
.item-info{
    
    visibility: hidden;
    width: 300px;
    background-color: var(--black);
    z-index: 999;
    color: white;
    position: absolute;
    left: 70px;
    top: 50px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}
.item:hover .item-info{
    visibility: visible;
}
.item:hover{
    transform: scale(1.2);
}
.item-info p{
    margin: 5px;
}
.item-info h3{
    margin: 5px 0 0 7px;
}
.player-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}



.player{
    width: 80%;
    height: 90vh;
    z-index: 2;
    overflow-y: scroll;
    position: relative;
  
}


.player-img{
    width: 75%;
    height: 100%;
    background: 100% 100%;
    background-position: center;
    display: block;
    flex-shrink: 0;
}
.player-name{
    background-color: var(--black) ;
    height: 20%;
    width: 100%;
    color: #b31923;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
}
.player-name h3,h1{
    margin: 0;
}
.player-name h1{
    margin-bottom: 1rem;
}
.eq{
    margin-top: 6rem;
    margin-left: 5rem;
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-column-gap: 100%;
    grid-row-gap: 5px;
    place-items: center;
    height: 70%;
    z-index: 4;
    position: absolute;
    top: 0;
}
.type{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 0 3px 5px;
}
.durability .sell_price{
    margin: 7px;
    margin-top: 15px;
}
.sell_price{
    display:flex;
    gap: 5px;
}
.gold span{
    color: rgb(255, 193, 77);
}
.silver span{
    color: rgb(180, 180, 178);
}
.copper span{
    color: rgb(180, 61, 25);
}

.set_name{
    color: rgb(250, 178, 46);
}
.set_items_names{
    margin: 3px 0 0 10px;
}
.set_effects{
    margin-bottom: 10px;
}
.eq-tooltip{
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
}


@media only screen and (max-width: 1300px) {
    .player-info{
     flex-direction: column;
     align-items: center;
   }
   .player{
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .player-img{
        scale: 0.8;
   }
   .eq{
    
    left:100px;
    width: 50%;
   }
 }
 @media only screen and (max-width: 1000px) {
   
   .eq{
    left:0;
    width: 60%;
   }
 }