.raid-container{
    width: 75%;
    background-color: var(--black);
    color: var(--white);
    display: grid;
    place-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    align-items: center;
    padding: 40px 10px 10px 10px;
    position: relative;
    box-shadow: black 10px 10px 15px 5px;
    margin-top: 20px;
    padding: 1.5rem;
}

.raid-title{
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    display: flex;
    margin: 10px;
}


.raid-img{
    width: 60%;
    min-height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
    border-radius: 1rem;
    box-shadow: black 10px 10px 15px 5px;
    transition: transform .3s;
    cursor: pointer;
}
.raid-name{
    height: 300px;
    display: grid;
    place-items: center;
    font-size: 2rem;
    visibility: hidden;
}

.raid-img:hover{
    transform: scale(1.1);
}
.raid-img:hover .raid-name{
    visibility: visible;
    background-color: rgb(17,16,16, .7);
}
.mod-container{
    display:grid;
    grid-template-columns: repeat(2, 200px);
    margin: 2rem 0 0 0;
}
.raids-stats-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0 0;
}
.progress{
    background-color: black;
    border-radius: 7px;
    position: relative;
}
.progress-bar{
    width:100%;
    height:25px;
    background-color: var(--crismon);
    border-radius: 7px;
}
.progress-proc{
    margin: 5px 0 0 10px ;
    position: absolute;
}
.progress-tooltip{
    width:250px;
    block-size: fit-content;
    background-color: var(--black);
    border: 2px solid black;
    color: green;
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    bottom:30px;
    visibility: hidden;
}
.progress:hover .progress-tooltip{
    visibility: visible;
}