.raid-container{
    width: 75%;
    background-color: var(--black);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap:30px;
    border: 1px solid black;
    border-radius: 1rem;
    align-items: center;
    padding: 40px 10px 10px 10px;
    position: relative;
    box-shadow: black 10px 10px 15px 5px;
    margin-top: 20px;
    padding: 1.5rem;
}

.raid-title{
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.raid-img{
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
    border-radius: 1rem;
    box-shadow: black 10px 10px 15px 5px;
    transition: transform .3s;
    cursor: pointer;
}
.raids-stats-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2rem 0 0 0;
}
.instance-container{
    padding: 1rem;
}

.instance-name{
    text-align: center;
    font-size: 1.4rem;
}
.raid-name{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    visibility: hidden;
}

.raid-img:hover{
    transform: scale(1.15);
}
.raid-img:hover .raid-name{
    visibility: visible;
    background-color: rgb(17,16,16, .7);
}
.mode-container{
    
    display:grid;
    grid-template-columns: fit-content(100px) fit-content(300px);
    gap: 20px;
    margin: 2rem 0 0 0;
}

.progress{
    width: 150px;
    
    background-color: black;
    border-radius: 7px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}
.progress-bar{
    width: 100%;
    height: 100%;
    max-height:inherit;
    background-color: var(--crismon);
    border-radius: 7px;
}
.progress-proc{
    margin: 0 0 0 10px ;
    position: absolute;
   
}
.progress-tooltip{
    width:250px;
    block-size: fit-content;
    background-color: var(--black);
    border: 2px solid black;
    color: green;
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    bottom:30px;
    visibility: hidden;
}
.progress:hover .progress-tooltip{
    visibility: visible;
}

.progress-tooltip-title{
    color: var(--white);
    text-align: center;
    margin-bottom: 15px;
}