.container{
    width: 75%;
    background-color: var(--black);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr)) ;
    margin-top: 20px;
    justify-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    margin-bottom: 20px;
    box-shadow: black 10px 10px 15px 5px;
    position: relative;
    z-index: 10;
   
}


.tooltip_container{
    width: 300px;
    height: 100%;
    block-size: fit-content;
    background-color: var(--black);
    color: white;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;

}

.spell_img{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
    position: relative;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: black 10px 10px 15px 5px;
    
}

.talents_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 2fr));
    padding: 50px;
    gap: 15px;
    position: relative;
}

.spec_tooltip{
    right: 100px;
}
.class_tooltip{
    left: 100px;
}


.spell_img:hover{   
    box-shadow: 0px 0px 40px 25px;
    transform: scale(1.2);
}
.rank{
    margin-bottom: 10px;
}
.cast{
    display: flex;
    justify-content: space-between;
}
.description{
    color:var(--description)
}
.name{
    font-size: 1.2rem;
    
}

.classname{
    position: absolute;
    top: 7px;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.classname > .talent_title{
    font-size: 1.5rem;
}

@media only screen and (max-width: 1450px) {
    .container {
        grid-template-columns: repeat(1, minmax(200px, 1fr)) ;

        width: 90%;
    }
    .tooltip_container{
        margin: 0;
    }
  }